.ReactModal__Overlay {
    z-index: 7;
    background-color: rgba(31, 31, 31, 0.75) !important;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}
.ReactModal__Content {
    z-index: 8;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.form-wrapper {
    width: 300px;
    margin: 20px auto;
}

.date-input-button, .modal-buttons > button, input[type="text"], input[type="submit"] {
    padding: 5px 10px;
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
}

.input-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}



.modal-buttons {
    width: max-content;
    margin: 40px auto;
}

.modal-buttons > button {
    margin: 5px;
}

input {
    text-align: center;
    border: 0.5px solid grey;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 0.5px solid grey;
}

